.tab-container {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.box-body>.table {
    margin-bottom: 0;
}

.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}


.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.table-reporte{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    color: #000;
}
.table-bordered {
    border: 1px solid #f4f4f4;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}